*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    padding: 10px 20px;
}

body{
    background-color: #f9f6f6;
}

.centro-pagina{
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    background: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.centro-pagina-inf{
    margin: 0 auto;
    margin-top: 3px;
    width: 1000px;
    height: 600px;
    background: white;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}