body{
    font-family: 'Roboto', sans-serif; 
}

.container{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.logo-text{
    font-size: 30px;
    vertical-align: 15px;
    display: inline-block;
}

header{
    background-color: white;
    padding: 8px 20px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f7f7f7;
    margin: auto;
}

.margin{
    margin-left: 50px;
}

.buttons{
    margin: 0 auto;
    margin-top: 35px;
    width: 1080px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.task{
    background-color: #47adf1;
    border-color: #47adf1;
    color: white;
    margin-left: 50px;
    padding: 8px;
    border-radius: 8px;
}

.add-section{
    background-color: white;
    border-color: #d9d9d9;
    color: #d9d9d9;
    padding: 8px;
    border-radius: 8px;
}

.section-2{
    margin: auto;
    margin-top: 5px;
    width: 1050px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.triangolo{
    margin-left: 50px;
    vertical-align: -18px;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.circle{
    color: lightgreen;
    background-color: white;
    border-color: lightgreen;
    border-radius: 50%;
}

.red-circle{
    color: red;
    background-color: white;
    border-color: red;
    border-radius: 50%;
}

#editorial{
    font-size: smaller;
    color: white;
    background-color: #47adf1;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#goals{
    font-size: smaller;
    color: white;
    background-color: #9c72e4;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#recruiting{
    font-size: smaller;
    color: white;
    background-color: #64c0a9;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mobile{
    font-size: smaller;
    color: white;
    background-color: #f29e33;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#website{
    font-size: smaller;
    color: white;
    background-color: #d863a1;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sales{
    font-size: smaller;
    color: white;
    background-color: #b0c926;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.margin-padding{
    margin-bottom: 20px;
}